{% extends 'base.html' %}

{% block content %}

<h3>Edit Meeting</h3>
<div class="container">
	<form action="{{ url_for('update_meeting', meeting_id=meeting._id) }}" method="POST" class="needs-validation"
		novalidate>
		<div class="form-row py-4">
			<div class="col-md-12">
				<label for="validationCustom01">Meeting Name</label>
				<input type="text" class="form-control" name="meeting_name" id="meeting_name" placeholder="Give your meeting a brief and snappy name" value="{{meeting.meeting_name}}" required>
				<div class="valid-feedback">
					Sounds Exciting!
				</div>
			</div>
		</div>
		<div class="form-row">
			<label for="dateandtime">Pick a date & time</label>
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<div class="input-group date" id="datetimepicker1" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" name="meeting_date" id="meeting_date" data-target="#datetimepicker1" value="{{meeting.meeting_date}}"/>
								<div class="input-group-append" data-target="#datetimepicker1"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						$(function () {
                                        $('#datetimepicker1').datetimepicker({
                                            sideBySide: true,
                                            date: "{{meeting.meeting_date}}",
                                            stepping: 5
                                        });
                                    });
					</script>
				</div>
			</div>
			<div class="col-md-4 mb-3">
				<label for="validationCustom01">Meeting Duration</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-stopwatch"></i></span>
					</div>
					<input type="time" class="form-control" name="meeting_duration" id="meeting_duration" placeholder="Meeting Duration" aria-describedby="inputGroupPrepend" value="{{meeting.meeting_duration}}" required>
					<div class="invalid-feedback">
						Every meetings gotta end
					</div>
				</div>
			</div>
		</div>
		<label for="exampleFormControlTextarea1">Meeting Description</label>
		<input type="text" class="form-control" name="meeting_description" id="meeting_description" value="{{meeting.meeting_description}}" rows="3"></textarea>
		<div class="invalid-feedback">
			Tell me what the meeting is about
			</div>	
</div>	
<div class="text-center mt-3">	
<button class="btn btn-info" type="submit">Add meeting</button>	
</div>
</form>
</div>
</div>
</div>
</container>

{% endblock %}
