{% extends 'base.html' %}

{% block content %}
{% for meeting in meetings %}
<br>
<div class="container">
	<div class="row row-striped">
		<div class="col-2 text-right">
			<h1 class="display-4"><span class="badge badge-secondary">{{meeting.meeting_date.strftime("%d")}}</span>
			</h1>
			<h2>{{meeting.meeting_date.strftime("%B")}}</h2>
		</div>
		<div class="col-10">
			<h3 class="text-uppercase"><strong>{{meeting.meeting_name}}</strong></h3>
			<ul class="list-inline">
				<h6>
					<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
						{{meeting.meeting_date.strftime("%A")}}</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
						{{meeting.meeting_date.strftime("%H")}}:{{meeting.meeting_date.strftime("%M")}}</li>
				</h6>
				<li class="list-inline-item">Duration: {{meeting.meeting_duration}}</li>
			</ul>
			<p>{{meeting.meeting_description}}</p>
		</div>
	</div>
</div>
{% endfor %}
<div class="text-center">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add new meeting</button>
</div>
{% endblock %}


{{meeting.meeting_date.strftime("%d")}}



{{meeting.meeting_type}}
{{meeting.meeting_duration}}